body {
    background: #fff !important;
}
img {
    max-width: 100% !important;
    height: auto !important;
}
.btn-primary {
    background: red !important;
    border-color: red !important;
}
.card-sidebar a{
    color: black !important;
}
.card-post{
    border: 0px;
}
.post-title {
    font-weight: 700 !important;
    color: red !important;
}
.post-meta {
    margin-top: -10px;
    color: #888 !important;
    text-transform: uppercase;
    font-size: 12px;
}
.post-meta a{
    color: #888 !important;
}
.post-tags {
    margin-top: -5px;
    margin-bottom: -15px;
    color: #888 !important;
    text-transform: uppercase;
    font-size: 12px;
}
.post-tags a{
    color: #888 !important;
}
.social {
    width: 100% !important;
}
.sidebar-list a{
    color: #fff;
}
.nav a {
    color: #fff !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.navbar {
    background: black !important;
    border-bottom: 4px solid red !important;
    padding: 0 !important;
}
.nav-link.active{
    background: red !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.jumbotron {
    text-align: center !important;
    text-transform: uppercase;
    background: #fff !important;
}