@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
body {
    font-family: 'Merriweather', serif !important;
    background: #fff !important;
}
img {
    max-width: 100% !important;
    height: auto !important;
}
.btn-primary {
    background: red !important;
    border-color: red !important;
}
.card-sidebar a{
    color: black !important;
}
.card-post{
    background: #eee !important;
}
.row.make-columns {
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em; 
}
.row.make-columns > div {
    display: inline-block;
    padding:  .5rem;
    width:  100%; 
}
.post-title {
    font-weight: 700 !important;
    color: black !important;
}
.post-meta {
    margin-top: -10px;
    color: #888 !important;
    text-transform: uppercase;
    font-size: 12px;
}
.post-meta a{
    color: #888 !important;
}
.post-tags {
    margin-top: -20px;
    color: #888 !important;
    text-transform: uppercase;
    font-size: 12px;
}
.post-tags a{
    color: #888 !important;
}
.social {
    width: 100% !important;
}
.sidebar-list a{
    color: #fff;
}
.nav a {
    color: #fff !important;
    text-transform: uppercase;
}
.navbar {
    background: black !important;
}
.blog-title{
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
.date {
    text-transform: uppercase;
    font-size:15px;
    font-style: italic; 
}
.card-post > .post-image {
    height: 200px !important;
    object-fit: cover !important;
}
.post-author {
    text-align: right !important;
    margin-bottom: -15px !important;
    margin-right: -15px !important;
    text-transform: uppercase !important;
    color: #aaa !important;
}
.card-post {
    background: #eee !important;
}
.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
